* {
  margin: 0;
  padding: 0;
}

.center {
  width: 1920px;
}

.hero {
  text-align: center;
  font-family: "Montserrat";
  font-size: 160%;
  color: white;
  background-image: url("image/cold-1853352_1920.jpg");
  height: 700px;
  background-size: cover;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}

h1 {
  font-weight: lighter;
}

.box1 {
  font-family: "Montserrat";
  background-color: white;
  width: 350px;
  height: 230px;
  margin-left: 350px;
  margin-top: 50px;
  float: left;
  -webkit-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

h2 {
  font-size: 300%;
  text-align: center;
  margin-top: 20px;
}

ul {
  font-size: 130%;
  text-align: left;
  margin-left: 110px;
}
.box2 {
  float: right;
  background-color: white;
  width: 800px;
  height: 230px;
  margin-right: 350px;
  margin-top: 50px;
  -webkit-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.Education {
  font-family: "Montserrat";
  font-size: 130%;
  text-align: left;
  margin-left: 60px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Montserrat";
  font-size: 300%;
  text-align: left;
  margin-left: 35px;
  margin-top: 15px;
}

.avatar {
  display: flex;
  align-items: center;
}
.profileinfo {
  display: flex;
  margin-left: 300px;
  margin-top: 50px;
}

h4 {
  font-family: "Montserrat";
  font-size: 300%;
}

.Experiencebox {
  float: right;
  background-color: white;
  width: 800px;
  height: 400px;
  margin-right: 350px;
  margin-top: 50px;
  -webkit-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.Programbox {
  font-family: "Montserrat";
  background-color: white;
  width: 350px;
  height: 400px;
  margin-left: 350px;
  margin-top: 50px;
  float: left;
  -webkit-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.icon {
  width: 80px;
  margin-top: 40px;
  margin-left: 60px;
}

.Portfoliobox {
  float: right;
  background-color: white;
  width: 800px;
  height: 400px;
  margin-right: 350px;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.Contactbox {
  font-family: "Montserrat";
  background-color: white;
  width: 350px;
  height: 400px;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-top: 50px;
  float: left;
  -webkit-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.GUCCI {
  font-family: "Montserrat";
  font-size: 200%;
}

.PERIOD1 {
  font-family: "Montserrat";
}

.KERPA {
  font-family: "Montserrat";
  font-size: 200%;
}

.PERIOD2 {
  font-family: "Montserrat";
}

.GUCCIdiv {
  margin-top: 50px;
  margin-left: 70px;
  font-weight: bold;
}

.kerpadiv {
  margin-top: 50px;
  margin-left: 70px;
  font-weight: bold;
}

.email {
  margin-left: 60px;
  margin-top: 20px;
}

.phone {
  margin-left: 60px;
  margin-top: 20px;
}

.programs {
  font-family: "Montserrat";
  font-size: 300%;
  text-align: left;
  margin-left: 55px;
  margin-top: 15px;
}

.contact {
  font-family: "Montserrat";
  font-size: 300%;
  text-align: left;
  margin-left: 72px;
  margin-top: 15px;
}
