*{
    margin:0;
        padding:0;
}

header {

}

.center {
    width:1920px;
 }

div.hero{
    text-align: center;
    text-align:center;
    font-family:"Montserrat";
    font-size: 160%;
    color: white;
        background-image: url("image/Namnlöst-2.png");
        height: 250px;
        background-size: cover;
        display:flex;
        align-items: center;
        justify-content: center;
}

h1{
    font-weight:lighter;
}

body{

}